.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 17px;
  background: $grey-2;

  & input {
    width: 109px;
    text-decoration: none;
    border: none;
    background: $grey-2;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    font-family: "Roboto";
  }
}
